---
import CustomLayout from '../layouts/CustomLayout.astro';
---



<CustomLayout 

title="service"
description="découvrez tous nos services"

>
	


	<!-- section hero -->
	<h1>coucou</h1>


</CustomLayout>
